html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4rem;
}


div {
border: 1px black solid;
}

.container {
  max-width: 960px;
  margin: auto;
}

/*Header*/
header {
  background: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png') no-repeat center center ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

nav {
    background-color: cadetblue;
    color: white;
    display: flex;
    align-content: center;
    top: 1.5rem;
}

.homepagelogo {
  margin: 2rem 1rem;
}

.image img {
  height: 1rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/*Header Menu*/
.navbar {
  margin: 1rem 2rem;
}

ul li {
  display: inline;
}

/*Main Image*/
.mainimage {
  display: flex;
  margin-top: 10rem;
  justify-content: flex-end;
}

.pagetitle {
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 1.5rem 1.5rem;

}

/*Grid*/
.sub {
  display: flex;
  justify-content: center;
}

.box {
 height: 8rem;
 width: 5rem;
 margin: 3rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}

.box img {
 width: 3.5rem;
}

text {
 display: flex;
 align-items: flex-end;
}

/*Phil and Appointment*/

.name {
  font-weight: bold,400;
  font-size: 1rem;
  background-color: cadetblue;
}
